body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .example-container {
    width: 100vw;
    height: 100vh;
  }
  
  .box {
    background: white;
    border-radius: 30px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50% - 150px / 2);
    left: calc(50% - 150px / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    color: black;
    text-shadow:   
    1px 1px white,
    -1px -1px white,
    -1px 1px white,
    1px -1px white;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .progress-icon {
    width: 80%;
    height: 80%;
  }
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  